.btn {
    &:active {
        outline: none !important;
    }
    &:focus {
        outline: none !important;
    }
    &.visit-site {
        background-color: #044b75;
        color: white;
    }
}

.send {
    float: right;
    max-width: 200px;
    background-color: #044b75;
    color: white;
    border: none;
}