.about {
    height: 100vh;
    margin-top: 50px;
}

.what-i-do {
    height: 100vh;
    padding: 40px 0;
    background-color: #6a7d83;
}

.projects {
    padding: 40px 0;
    height: 100%;
}

.contact {
    padding: 40px 0;
    height: 100vh;
    background-color: #242925;
    .title {
        color: white;
    }
}