.about {
    position: relative;
    margin-top: 50px;
    height: 100vh;
    .down {
        position: absolute;
        left: 50%;
        bottom: 10px;
        font-size: 32px;
    }
}

.what-i-do {
    height: 100%;
    padding: 40px 0;
    background-color: #6a7d83;
    @include respond-to("screen-xs") {
        height: 100%;
    }
    .title {
        margin-bottom: 10px;
    }
    .inner-title {
        @include respond-to("screen-xs") {
            font-size: 12px;
        }
    }
    .inner-content {
        margin-bottom: 30px;
        font-weight: 400;
    }
    .front-end-holder {
        text-align: left;
    }
    .back-end-holder {
        text-align: left;
    }
    .progressbar {
        background-color: #e5e5e5;
        border-radius: 4px;
        height: 4px;
        margin-bottom: 30px;
        .html,
        .css {
            background-color: #2573a7;
            animation: ninety 10s ease forwards;
        }
        .sass {
            background-color: #2573a7;
            animation: eighty 10s ease forwards;
        }
        .javascript,
        .jquery {
            background-color: #2ecc71;
            animation: eighty 10s ease forwards;
        }
        .bootstrap {
            background-color: #be4c00;
            animation: ninety 10s ease forwards;
        }
        .angular {
            background-color: #283848;
            animation: fifty 10s ease forwards;
        }
        .node {
            background-color: #283848;
            animation: seventy 10s ease forwards;
        }
        .php {
            background-color: #283848;
            animation: eighty 10s ease forwards;
        }
        .java,
        .android {
            background-color: #f5c24f;
            animation: eighty 10s ease forwards;
        }
        .python {
            background-color: #556775;
            animation: fifty 10s ease forwards;
        }
        .sql {
            background-color: #b63762;
            animation: ninety 10s ease forwards;
        }
        .c {
            background-color: #689ca7;
            animation: ninety 10s ease forwards;
        }
        .progressStatus {
            height: 100%;
            width: 0;
            position: relative;
            overflow: visible!important;
        }
    }
}

.projects {
    padding: 30px 0 40px 0;
    height: 100%;
    .work {
        display: table-cell;
        vertical-align: middle;
    }
    .owl-carousel {
        margin-top: 20px;
        img {
            width: 100%;
            height: 300px;
            border: 1px solid #EEEEEE;
        }
    }
}

.contact {
    padding: 40px 0;
    height: 100vh;
    background-color: #242925;
    @include respond-to("screen-xs") {
        height: 100%;
    }
    .contact-details {
        .phone-holder {
            color: white;
            p {
                display: inline-block;
            }
        }
        .email-holder {
            color: white;
            p {
                display: inline-block;
            }
        }
        .address-holder {
            color: white;
            p {
                display: inline-block;
            }
        }
    }
    .title {
        color: white;
    }
    .input-group {
        .form-control {
            margin-bottom: 20px;
        }
        textarea {
            min-height: 300px;
        }
    }
}